h1.form {
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 1rem;
  width: 25%;
}

.form {
  width: 25%;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1%;
}

.ui.form .field > label {
  color: white;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}
